.btn-primary{
    background: #ff9900;
    border: 0;
    padding: 15px 40px 15px 40px;
    font-size: 16;
    font-weight: bold;
}

.btn-primary:hover{
    background: #b16b02;
    border: 0;
}

.btn-secondary{
    background: none;
    border: 1px solid #bcd0e5;
    padding: 15px 40px 15px 40px;
    font-size: 16;
    font-weight: bold;
    color: #173a56;;
}

.btn-secondary:hover{
    background: none;
    border: 1px solid #9bacbe;
    color: #173a56;;
}

.herobwa h1 {
   font-family: 'Poppins';
   font-weight: bold;
   color: #2f281e;
}

.herobwa p {
    font-family: 'Poppins';
    font-weight: 400;
    color: #2f281e;
}

.navbar-nav .nav-link{
    color: #2f281e;
}

@media (min-width: 576px) { ... }

@media (min-width: 768px) { ... }

@media (min-width: 992px) { ... }

@media (min-width: 1200px) { ... }